*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/fundo.jpg);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    height: var(--height);
    mask-image: linear-gradient(to right,
        transparent,
        #000 10% 90%,
        transparent);
}

.carrossel{
    width: 100%;
    display: flex;
    position: relative;
}

.container .carrossel .item{width: 100%;}


.container .item p{
    font-size: 30px;
    margin-top: 100px;
    width: 300vw;
    font-weight: bold;
    background-image: linear-gradient(to left, #ec0173, #ec0173); /* Degradê do texto */
    -webkit-background-clip: text; /* Recorta o fundo para o texto */
    color: transparent; /* Torna o texto transparente para mostrar o degradê */
}

.item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 30s linear infinite;
    animation-delay: calc( 20 / var(--quantity) * var(--delay)) !important;
    cursor: pointer;
}


.container .reverse .item{
    animation: reverseRun 10s linear infinite;
    padding: 0 30px;

}

.item img{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }

    to{
        left: -150vw;
    }
}

@keyframes reverseRun {
    from{
        left: -10vw;
    }

    to{
        left: 100%;
    }
}

@media screen and (max-width: 768px) {

    .container .item p {
        margin-top: 50px;
        width: 800vw;
        font-size: 30px;
        font-weight: bolder;
    }

    .item img {
        width: 150px;
        height: 150px;
        border: 3px solid black;
        border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
    }

    .item{
        animation: autoRun 25s linear infinite; 
    }
            

    @keyframes autoRun {
        from{
            left: 100%;
        }
            
        to{
            left: -500vw;
        }
    }
            
    @keyframes reverseRun {
        from{
            left: -100vw;
        }
        
        to{
            left: 100%;
        }
    }
}
